<header>
  <!-- <h2> Welcome, <%= username %> </h2> -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>


    <% if (!username) { %>
    <form class="form-inline" action="/login" method="POST">
      <div class="navbar">
      <label for="username"><p>Login</p></label>
      <input
      name="username"
      placeholder="userName"
      />
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  <% } else { %>
    <form class="form-inline" action="/logout" method="POST">
      <label for="logout"><p>Logged in as: <strong><%= username %></strong></p></label>
      <div class="navbar">
      <button type="submit" class="btn btn-primary">Log out</button>
    </form>
<% } %>
  </nav>
</header>
